body {
  /* background: rgb(186,215,30);
  background: linear-gradient(0deg, rgba(186,215,30,1) 0%, rgba(253,187,45,1) 81%); */

  /* background: rgb(220,232,62);
background: radial-gradient(circle, rgba(220,232,62,1) 0%, rgba(253,138,29,1) 50%, rgba(252,176,69,1) 100%); */

  /* background: rgb(210,214,45);
background: radial-gradient(circle, rgba(210,214,45,1) 0%, rgba(253,187,45,1) 86%); */

  margin: 0;
  padding: 0;
  height: 100vh;

  overflow: hidden;
}

html {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}
