.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  /* grid-template-columns: 1fr 1fr; */
  gap: 50px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.footer {
  display: none;
}

.underMenuLayout {
  display: none;
}

@media (max-width: 700px) {
  .contentList {
    display: flex;
    height: 100%;
    margin-top: 30px;
    align-items: self-start;
  }

  .navList {
    display: none;
  }

  .underMenuLayout {
    display: block;
    position: relative;
    min-height: 112px;
  }

}
