.main {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  gap: 20px;
  width: 100%;
}

.container {
}

.title{
  text-align: center;
  margin-bottom:30px ;
}

.footer {
  display: none;
}

.NavLayout {
  display: flex;
  align-items: center;
}

.contentList {
}

.underMenu{
  display: none;
}

@media (max-width: 700px) {
  .contentList {
    display: flex;
    height: 100%;
    margin-top: 30px;
    align-items: self-start;
  }

  .navList {
    display: none;
  }

  .underMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5px;
  }
}
