.container{
    
}

.searchArea{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.SearchSuggests{
    display: flex;
    justify-content: center;
    align-items: center;
}