.searchArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.SearchSuggests {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.gridLayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.categoryTag {
  border: 1px solid orange;
  text-align: center;
  padding: 10px;
}

.categoryTag:hover {
  opacity: 0.6;
}

.flexLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowCircleLeftIcon {
  width: 50px;
}

.underMenu {
  display: none;
}

@media (max-width: 700px) {
  .searchBox {
    margin: 10px;
  }

  .gridLayout {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .arrowCircleLeftIcon {
    display: none;
  }

  .underMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5px;
  }
}
