.container {
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  gap: 30px;
}



.h1Tage {
  text-align: center;
  margin-bottom: 30px;
}

.underMenuLayout {
  display: none;
}







@media (max-width: 700px) {
  .container {
    display: flex;
    align-items: start;
  }
  
  .h1Tage {
    margin-bottom: 20px;
  }
  
  .Navbar {
    display: none;
  }
  
  .gridLayout {
    display: flex;
  }
  
  .underMenuLayout{
    display: block;
    position: relative;
    min-height: 112px;
  }

}
