.contentLists {

}

.contentList {
  display: flex;



  gap: 20px;

  background-color: rgba(128, 128, 128, 0.137);
  border-radius: 20px;
  margin-bottom: 20px;
  max-width: 400px;
}

.text {
  overflow-wrap: break-word;
  max-width: 300px;
  font-size: 20px;
}
