.nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-decoration: none;
  padding: 20px 35px;
  justify-content: center;
  background-color: rgba(40, 38, 38, 0.586);
  border-radius: 20px;
  max-width: 288px;
}

.link {
  text-decoration: none;
  color: white;
}

.element {
  font-size: 30px;
}

.element:hover {
  opacity: 0.6;
}

.postIcon {
  width: 200px;
}

.postIcon:hover {
  opacity: 0.6;
}
